#contenitoreBox { display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: space-around; margin-top: 20px; align-content: stretch; }
.box { border-radius: 3px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); transition: all 0.3s cubic-bezier(.25,.8,.25,1); display: inline-block; padding: 15px; max-width: 270px; margin-bottom: 15px; }
.box:hover { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.box .titolo { font-size: 20px; font-weight: 700; margin-bottom: 10px; }
.box .descrizione .button { margin-top: 10px; float: right; }