/* Header */
#header div { font-weight: 700; text-align: center; padding: 13vh 0 19vh 0; font-size: 2.7em; background: #fff14b; color: #151515; }
#header img { margin: -12vh auto 0 auto; height: 20vh; width: 20vh; display: block; border-radius: 50%; border: 2vh solid #fff; }
#bottoneFlottante { position: absolute; right: 3vw; top: 2vh; }

/* Registrazione & Accesso */
#registrazione, #accesso { max-width: 250px; margin: 20px auto; padding: 0 10px; text-align: center; }
#formRegistrazione *, #formAccesso * { margin-top: 10px; }
#formRegistrazione input[type='submit'], #formAccesso input[type='submit'] { margin-top: 20px; }
label, select { display: inline; }